{% extends "brew/base.html" %}

{% load bootstrap3 %}

{% block content %}
{# Display a form #}
<form action="/brew/create-mash/" method="post" class="form-horizontal">
  	<legend>Create mash steps</legend>
  	{% csrf_token %}
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<div class="mash_step_wrap">
				{% include 'brew/mash_step_template.html' %}
			</div>
			<button id="submit" type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>

<script>
	var recipe = {}
	recipe.waters = []

	{% for water in brew.recipe.water %}
		recipe.waters.push({
			'{{ water.name }}': {{ water.volume }}
		});
	{% endfor %}
	{% for malt in brew.recipe.malt %}
		recipe.malts.push({
			'{{ malt.name }}': {{ malt.weight }}
		});
	{% endfor %}

	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	$("#submit").click(function(){
		event.preventDefault();
		var post_data = { 'steps': []};
		$(".mash_step").each(function(index){
        	step = {
        		'brew': {{ brew.id }},
        		'duration': $(this).children('.mash_duration').val(),
	            'temperature': $(this).children('.mash_temperature').val(),
	            "ingredients": []
        	};
        	$(this).find('.ingredient').each(function(index){
				step.ingredients.push({
					'name': $(this).children('.ingredient_name').val(),
					'amount': $(this).children('.ingredient_amount').val()
				});
        	});
        	post_data.steps.push(step);
        });
        console.log(post_data);

		$.ajax({
			type: "POST",
			url: "/brew/create-mash/",
			data: { "formdata": JSON.stringify(post_data) }
		}).done(function (response) {
			console.log(response)
			window.location = response;
		})
	})


	function addIngredientFields(event){ //on add input button click
	    var e = event || window.event;
  		var src = e.target || e.srcElement;
  		console.log(src)
		$(src).parent('div').append('{% include "brew/ingredient_template.html" with show_remove_ingredient=True %}');
    }

    function removeIngredient(event){ //user click on remove text
        event.preventDefault(); 
        var e = event || window.event;
  		var src = e.target || e.srcElement;
  		console.log(src)
        $(src).parent('div').remove();
    }

    function addMashStepFields(event){ //on add input button click
	    var e = event || window.event;
  		var src = e.target || e.srcElement;
  		console.log(src)
		$('.mash_step_wrap').append('{% include "brew/mash_step_template.html" with show_remove_mash_step=True %}');
    }

    function removeMashStepFields(event){ //user click on remove text
        event.preventDefault(); 
        var e = event || window.event;
  		var src = e.target || e.srcElement;
  		console.log(src)
        $(src).parent('div').remove();
    }


</script>
{% endblock %}