{% extends "brew/base.html" %}

{% load bootstrap3 %}
{% block content %}

<h1>{{ brew.name }}</h1>
		<div class="col-md-12">
    		<h2>Mash Steps</h2>
    		{% for mash_step in brew.mash_steps %} 	 	      	 	  
	 	      	<div class="col-md-12 col-md-offset-1">
	 	 	      	Duration: {{ mash_step.duration }}<br />
	 	 	      	Temperature: {{ mash_step.temperature }}<br />
	 	 	      	Ingredients: <br />
	 	 	      	<ul>
		 	 	      	{% for ingredient in mash_step.ingredients %}	 	 	   
			 	 	      	<li>{{ ingredient.name }}: {{ ingredient.amount }}</li>
			        	{% endfor %}
		        	</ul>
       			</div> 
    		{% endfor %}
        </div>
        <div class="col-md-12">
        	{% for boil_step in brew.boil_steps %}
 	 	      	<h2>Boil Steps:</h2>
 	 	      	{% for boil_step in brew.boil_steps %} 	 	      	 	  
	 	 	      	<div class="col-md-12 col-md-offset-1">
		 	 	      	Duration: {{ boil_step.duration }}<br />
		 	 	      	Ingredients: <br />
		 	 	      	<ul>
			 	 	      	{% for ingredient in boil_step.ingredients %}	 	 	   
				 	 	      	<li>{{ ingredient.name }}: {{ ingredient.amount }}</li>
				        	{% endfor %}
			        	</ul>
			       	</div> 
        		{% endfor %} 
        	{% endfor %}
        </div>

{% endblock %}